extends layout

block content
    h1= title
    h2= test
    p Welcome to #{title}
    button#getStarted Get Started
    div#demo
    audio#v1(style="width: 100%").embed-responsive-item
    figcaption.figure-caption.text-center
    audio#v2(style="width: 100%").embed-responsive-item
    figcaption.figure-caption.text-center No Preview Available

    each val in [1, 2, 3, 4, 5]
        li= val
    script.
        let t = 2;
    script(src='/js/index.js')


