extends layout

block content
    h1= title
    h2= test
    p Welcome to #{title}
    button#getStarted Get Started
    div#demo

    each val in [1, 2, 3, 4, 5]
        li= val
    script.
        let t = 2;
    script(src='/js/index.js')


