extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/indexCSS.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
block content
    layout
    head
        body(style='text-align: center')
            header
            .container
                #welcomeMessage Welcome to&nbsp;
                #serviceName Flow
                #captionMessage a playlist curated for how you feel...
                button#getStarted GET STARTED


    script(src='/js/index.js')



