extends layout

block append stylesheets
    link(rel='stylesheet', href='/stylesheets/infoCSS.css')
block content
    layout
    head
        body(style='text-align: center')
            header
            .container
                h1= "About Us"
        #wrapper
            .circle
            .line-top
            .circle
            .line-bottom
            .circle
            //.line-top
            //.circle
            //.line-bottom
            //.circle
            //.line-top
            //.circle
            //.circle

    script(src='/js/info.js')