doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
      div#title
        button#tutorial Tutorial
        button#home Home
        button#info About Us
        script(src='/js/layout.js')
  body
    block content