doctype html
html
    head
        title= "Webcam"
        link(rel='stylesheet', href='/stylesheets/style.css')
.videowrap
    video#video(playsinline='' autoplay='')
.controller
    button#snap Capture

canvas(id='canvas' width='640' height='480')

script.
    'use strict';
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const snap = document.getElementById('snap');
    const errorMsgElement = document.getElementById('spanErrorMsg');

    const constraints = {
        audio: true,
        video: {
            width: 1280, height: 720
        }
    };

    function handleSuccess(stream) {
        window.stream = stream;
        video.srcObject = stream;
    }

    async function init() {
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
        } catch (err) {
            errorMsgElement.innerHTML = `navigator.getUserMedia.error:${err.toString()}`;
        }
    }
    init();

    var context = canvas.getContext('2d');
    snap.addEventListener("click", () => {
        context.drawImage(video, 0, 0, 640, 480);
    })
