extends layout

block stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
    layout
    head
        style.
            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
        body(style='text-align: center')
            header
            .container
                h1= "Tutorial of Flow"

    script(src='/js/tutorial.js')