doctype html
.videowrap
    video#video(playsinline='' autoplay='')

canvas(id='canvas' width='640' height='480')

.controller
    button#snap Capture
    button#tryagain Take Photo Again

script(src='/js/takePhoto.js')
