extends layout

block content
    div#videowrap
        video#video(playsinline='' autoplay='')
        canvas#canvas(width='640' height='480')
        div#controller
            button#snap Capture
            button#tryagain Take Photo Again
            button#track Get Curated Tracks
    div#loading
        h1 loading...
    script(src='/js/webcam.js')