extends layout

block append stylesheets
    link(href='../libraries/circle.png', type="image")
    link(rel='stylesheet', href='/stylesheets/webcamCSS.css')
block content
    div#webcam
        label#content Let us see how you feel!
        div#videowrap
            div.pulsate-css
            video#video(playsinline='' autoplay='')
            canvas#canvas
        div#controller
            button#take-photo Capture
            button#try-again Take Photo Again
            button#get-tracks Get Curated Tracks

    div#loader
        div#box
        div#shadow
        h1#loadingtext loading...
    script(src='/js/webcam.js')