doctype html
html
    head
        title= "Webcam"
        link(rel='stylesheet', href='/stylesheets/style.css')
.videowrap
    video#video(playsinline='' autoplay='')
.controller
    button#snap Capture
canvas(id='canvas>' width='640' height='480')
script.
    'use strict';
    const video = document.getElementById('video');
