.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#welcomeMessage {
    display:inline-block;
    color: #fefefe;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

#serviceName {
    display:inline-block;
    color: #fefefe;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

#captionMessage {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fefefe;
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}