body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
}

a {
  color: #00B7FF;
}

#title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
