body {
  padding: 50px;
  font: 14px "Lucida Grande", 'Roboto Condensed', sans-serif;
}

a {
  color: #00B7FF;
}

#title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
