.title-img {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
}

#mood {
    height: 45vmin;
}

.track-image {
    width: 80%;
    transition: transform .1s ease-in-out;
}

.track-image:hover {
    opacity: 0.9;
    transform: scale(0.95);
}

.track-title {
    line-height: 120%;
    font-size: 100%;
    font-weight: normal;
}

#modal-content-video:focus{
    outline: none;
}

#modal-analytics {
    height: 40vmin;
}

.fill {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #b4e8fe;
}

.unfill {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #f6f6f673;
}

.playlist-image {
    width: 9vh;
}

.alert-playlist-label {
    color: red;
}