#media-content {
    background-color: #00B7FF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vmin
}

#tracks-div {
    /*max-height: 90vh;*/
    /*overflow: auto;*/
}

#user-image {
    /*width: 35vmin;*/
    /*height: 35vmin;*/
}

#mood {
    height: 45vmin;
}

.track-image {
    transition: transform .1s ease-in-out;
}

.track-image:hover {
    background: #0000ff;
    opacity: 0.9;
    transform: scale(0.95);
}

.track-title {
    line-height: 120%;
    font-size: 100%;
    font-weight: normal;
}

#modal-background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#modal-content-video:focus{
    outline: none;
}

#modal-analytics {
    height: 40vmin;
}

/*body {*/
/*    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*    background-size: 100000% 100000%;*/
/*    animation: gradient 15s ease infinite;;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/

/*@keyframes gradient {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/
