#media-content {
    background-color: #00B7FF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vmin
}

#tracks-div {
    background-color: #ff0000;
    height: inherit;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

#userandmood-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #4cff00;
    height: inherit;
    width: 30%;
}

#user-div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 60%;
    background-color: aliceblue;
}

#user-image {
    width: 25vmin;
    height: 25vmin;
}

/*id = mood-div*/
#mood-div {
    width: 100%;
    height: 40%;
    background-color: cadetblue;
}

/*class = track*/
.track {
    width: 98%;
    background-color: yellow;
    margin: 1%;
    padding: 1%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.track-image {
    height: 10vmin;
    width: 10vmin;
    box-shadow: 0 0 6px 2px black;
    margin-right: 3%;
}

.track-image:hover {
    background: #0000ff;
    opacity: 0.9;
}

#modal-background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#modal {
    background-color: #fefefe;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#modal-up {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 50%;
    background-color: #229238;
}

#modal-trackInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;
    background-color: #c9d8ff;
}

#modal-trackInfo-image {
    width: 20vmin;
    height: 20vmin;
    margin: 5%;
}

#modal-trackInfo-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    background-color: #3159a8;
}

#modal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 50%;
    height: 100%;
    background-color: #cc1dba;
}

#modal-content-video:focus{
    outline: none;
}

#modal-analytics {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 50%;
    background-color: #ec6767;
}
