.col-sm-auto {
    margin: 0 auto;
    float: none;
    padding-bottom: 100px;
}

img {
    padding-top: 100px;
    width: 90vmin;
    height: 70vmin;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 20px;
    top: 60%;
    transform: translateY(-50%);
}

.carousel-control-next-icon {
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(-50%);
}