#header {
    font-size: 4vmin;
}

#errorAlert {
    position: absolute;
}

.video-animation {
    height: 70vmin;
    -webkit-mask-image: url("../libraries/circle.png");
    -webkit-mask-size: 65vmin;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    animation: backInDown;
    animation-duration: 2s;
}

.video-no-animation {
    height: 70vmin;
    -webkit-mask-image: url("../libraries/circle.png");
    -webkit-mask-size: 65vmin;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

#canvas {
    height: 70vmin;
    -webkit-mask-image: url("../libraries/circle.png");
    -webkit-mask-size: 65vmin;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

#loader {
    position: fixed;
    top: 40%;
}

/*makes jello move across*/
@keyframes loader {
    0% { left: -100px }
    100% { left: 110%; }
}

#box {
    width: 10vmin;
    height: 10vmin;
    background: #fff;
    animation: animate .5s linear infinite;
    border-radius: 1vmin;
}

@keyframes animate {
    17% { border-bottom-right-radius: 1vmin; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
        transform: translateY(18px) scale(1,.9) rotate(45deg) ;
        border-bottom-right-radius: 6vmin;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
}

#shadow {
    width: 10vmin;
    height: 1vmin;
    background: #000;
    opacity: 0.1;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
    margin-top: 1.5vmin;
}

@keyframes shadow {
    50% {
        transform: scale(1.2,1);
    }
}

#loading-text::after {
    content: ' .';
    animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: white;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 white,
                .5em 0 0 white;}
}
