# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
      env:
        CI: true
        AZUREKEY: ${{secrets.AZUREKEY}}
        SPOTIFY_API_ID: ${{secrets.SPOTIFY_API_ID}}
        SPOTIFY_CLIENT_SECRET: ${{secrets.SPOTIFY_CLIENT_SECRET}}
        CALLBACK_URL: ${{secrets.CALLBACK_URL}}
        ACCESS_TOKEN: ${{secrets.ACCESS_TOKEN}}
        REFRESH_TOKEN: ${{secrets.REFRESH_TOKEN}}
